<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Item List</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link do własnego pliku CSS -->
</head>
<body>
<header>
    <h1>Menu Item List</h1>
    <nav>
        <ul>
            <li><a href="/menu-items/new">Add New Menu Item</a></li>
        </ul>
    </nav>
</header>

<main>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menuItem : ${menuItems}">
            <td th:text="${menuItem.id}"></td>
            <td th:text="${menuItem.name}"></td>
            <td th:text="${menuItem.description}"></td>
            <td th:text="${menuItem.price}"></td>
            <td>
                <!-- Link do szczegółów pozycji menu -->
                <a th:href="@{/menu-items/{id}(id=${menuItem.id})}">View</a>
                <!-- Formularz do usuwania pozycji menu -->
                <form th:action="@{/menu-items/delete/{id}(id=${menuItem.id})}" method="post"
                      onsubmit="return confirm('Are you sure you want to delete this menu item?');">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
    <p></p>
</footer>
</body>
</html>
